<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>cozinharapida</display-name>
	
	<servlet>
		<servlet-name>jsonservlet</servlet-name>
		<servlet-class>projeto.servlet.JsonServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jsonservlet</servlet-name>
		<url-pattern>/jsonservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>projeto.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fileservlet</servlet-name>
		<servlet-class>projeto.servlet.FileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileservlet</servlet-name>
		<url-pattern>/fileservlet</url-pattern>
	</servlet-mapping>

	<jsp-config>
	    <jsp-property-group>
	        <url-pattern>*.jsp</url-pattern>
	        <error-on-undeclared-namespace>false</error-on-undeclared-namespace>
	    </jsp-property-group>
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>home_cozinharapida.jsp</welcome-file>
	</welcome-file-list>
</web-app>